.tox
.idea
.coverage
*.swp
*.pyc
*egg-info*
build
_build
_static
_templates
dist
*.log
/debian/python3-pyrabbit.*.debhelper
/debian/python3-pyrabbit.*.log
/debian/python3-pyrabbit.substvars
/debian/python3-pyrabbit
/debian/files
/.pc
